<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="phpunit.php" colors="true">
    <php>
        <server name="doc_root" value="../../../"/>
        <server name="app_path" value="../../app"/>
        <server name="core_path" value="../../core"/>
        <server name="package_path" value="../"/>
        <server name="vendor_path" value="../../vendor"/>
        <server name="FUEL_ENV" value="development"/>
    </php>
    <testsuites>
        <testsuite name="Indigo Fuel Sms Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">classes/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="49" highLowerBound="75"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>